<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:amazon="http://schemas.amazon.com/apk/res/android"
    package="com.fnk.braze"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--fireos permissions starts here-->
    <!-- This permission ensures that no other application can intercept your ADM messages. -->
    <permission
        android:name="com.fnk.braze.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.fnk.braze.permission.RECEIVE_ADM_MESSAGE" />

    <!-- This permission allows your app access to receive push notifications from ADM. -->
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

    <!-- ADM uses WAKE_LOCK to keep the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--fireos permissions end here-->

    <application
        android:name=".BrazeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrazeDemo"
        tools:targetApi="31">

        <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false"/>

        <receiver android:name="com.braze.push.BrazeAmazonDeviceMessagingReceiver" android:permission="com.amazon.device.messaging.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                <category android:name="com.yourapp.packagename" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".ActivityB"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--  In case if we don't have FCM service we can add this receiver-->
<!--        <service android:name="com.braze.push.BrazeFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--    </application>-->

<!--    In case if we already using FCM in our app & we want to include braze as well we can have our own receiver-->
    <service
        android:name="com.fnk.braze.notifications.BrazeFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
</application>
</manifest>